<!DOCTYPE html>
<html>
    <head>
        <title>謝政孝 ❤ 王筱雯</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <button class="menu-button">
                <span></span>
            </button>
            <div class="menu-mask">
                <ul class="menu">
                    <li v-for="menu in lists">{{ menu.text }}</li>
                </ul></div>
                <section class="main">
                    <div class="info">
                        <h1>WE GOT MARRIED</h1>
                        <p>Vegetarian Wedding</p>
                        <p>歡迎來吃</p>
                        <p><span>2018.12.08</span>12:00PM</p>
                        <div class="address">
                            <a class="location" :href="locationURL" target="_blank"></a>
                            <address>10491 台北市中山區新生北路二段 38 號</address>
                        </div>
                    </div>
                    <div class="main-image"></div>
                </section>
                <section class="meet">
                    <div class="image"><img src="images/meet.jpg"/></div>
                    <div v-html="meet" class="content"></div>
                </section>
                <section class="message">
                    <div class="content">
                        <p v-html="leaveMessage"></p>
                        <span>{{ who }}</span><input type="text" v-model="guestName" placeholder="Who R U"><br>
                        <span>{{ message }}</span>
                        <textarea rows="4" cols="50" v-model="guestMessage" placeholder="Leave a message..."></textarea><br>
                        <button  v-on:click="addMessage">{{ submit }}</button>
                    </div>
                    <div class="image"><img src="images/message.jpg"/></div>
                </section>
                <section class="messages">
                    <h2>{{ messages.length }}則留言</h2>
                    <ol class="message-list">
                        <li v-for="message in messages">
                            <img  v-bind:src="'images/' + message.Image + '.svg'"/><div>{{message.Name}} 說</div><p>{{message.Message}}</p>
                        </li>
                    </ol>
                </section>
                <footer>
                    <div>{{footerTitle}}</div>
                    {{footerDescription}}<a class="seat" :href="seatURL"></a>
                </footer>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    lists: [
                        {text: 'Wedding info' },
                        {text: 'About us' },
                        {text: 'Leave a message'}
                    ],
                    greeting: 'WE GOT MARRIED',
                    description: 'Vegetarian Wedding',
                    welcome: '歡迎來吃',
                    date: '2018.12.08',
                    time: '12:00PM',
                    address: '10491 台北市中山區新生北路二段 38 號',
                    locationURL: 'https://ppt.cc/fLIAox',
                    meet:'我們 2015/12/30 在 tinder 聊天認識，<br>2016/01/02 見面，<br>然後覺得合適就結婚了。',
                    leaveMessage: '在這個對我們來說非常重要的日子，謝謝您的參與，讓這個充滿意義的日子更為圓滿！<br><br>給一個留言',
                    who: '你是誰：',
                    guestName: '',
                    guestMessage: '',
                    message: '留個言：',
                    submit: '送　出',
                    messages: [],
                    footerTitle: 'Vegetarian Wedding',
                    footerDescription: 'Invite you to celebrate our marriage.',
                    seatURL: '',
                    showMenu: false,
                },
                // define methods under the `methods` object
                methods: {
                    addMessage: function (event) {
                        // `this` inside methods points to the Vue instance
                        alert(this.guestName + ' 說 ' + this.guestMessage);
                        let url = 'https://gentle-harbor-89766.herokuapp.com/messages';
                        let iconNameAry = ["eat", "family", "hat", "love", "nerd", "party"];
                        let randomIndex = Math.floor(Math.random() * iconNameAry.length) ;
                        let data = {
                            "name": this.guestName,
                            "message": this.guestMessage,
                            "image": "cat_" + iconNameAry[randomIndex]
                        };
                        let headers = {
                            "content-type": "application/x-www-form-urlencoded"
                        };
                        Vue.http.options.emulateJSON = true;
                        this.$http.post(url, data, {"headers": headers})
                            .then((response) => {
                                /* 成功拿到資料，然後... */
                                console.log('success');
                                this.getMessage();
                            }) .catch((response) => {
                                /* 失敗，發生錯誤，然後...*/
                            })
                            .finally(() => {
                                /* 不論成功失敗，都做些事 */
                            });
                    },
                    getMessage: function (event) {

                        this.$http.get('https://gentle-harbor-89766.herokuapp.com/messages')
                            .then((response) => {
                                /* 成功拿到資料，然後... */
                                console.log(response.body);
                                this.messages = response.body;
                            }) .catch((response) => {
                                /* 失敗，發生錯誤，然後...*/
                            })
                            .finally(() => {
                                /* 不論成功失敗，都做些事 */
                            });
                    },

                },
                created: function(){
                    console.log('== created ==');
                    this.getMessage();
                }
            })
        </script>
        <link rel="stylesheet" href="index.css">
    </body>
</html>
